<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Whoops.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Habibi" rel="stylesheet" />
	<link rel="stylesheet" href="/style.css"/>
</head>
<body>
	<div class="whitespace">
	    <h1>Hum.</h1>
	    <p>It appears that something went wrong.</p>
	    <p>Maybe you misspelled something? Or maybe there was an error on the server.</p>
    </div>
</body>
</html>