<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Canterbury Gardens Ltd.</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Habibi" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="/lib/DataTables/datatables.min.css"/>
	<link rel="stylesheet" href="/style.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="/lib/DataTables/datatables.min.js"></script>
	<script src="/map.js"></script>
	<script>
		function loadData() {
			$("#sites").load("/api/sites");
			$("#problems").load("/api/problems");
			$("#updateIndicator").load("/api/updateIndicator");
		}
		var refreshId = setInterval(loadData, 60000);
	</script>
</head>
<body>
	<div class="whitespace">
		<div th:replace="fragments :: header"></div>
		<div class="flex-container">
			<div class="flex-item"><div th:replace="api :: sites"></div></div>
			<div class="flex-item"><div th:replace="api :: problems"></div></div>
		</div>
		<h2>Map</h2>
		<div id="map"></div>
		<div th:replace="fragments :: tempButtons"></div>
		<div th:replace="fragments :: updateIndicator"></div>
		<script>loadData();</script>
	</div>
	<script async="async defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_d9u5ZJFDWRssJbag_WfOw9GDAXagNJ0&amp;callback=initMap"></script>
</body>
</html>